.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner--primary {
  min-height: 600px;
}
.banner--secondary {
  min-height: 445px;
}
.banner__product-row {
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  font-size: x-large;
}
.banner__product-card {
  background-color: #f9fafb;
  height: 118px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 102px auto;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.banner__product-card img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.banner__product-card h3 {
  font-size: 16px;
  color: #0d121c;
  margin: 5px 0;
}
.banner__product-card p {
  font-size: 0.875rem;
  color: #666;
  margin: 0;
}
