.category {
  margin-top: 100px;
  margin-bottom: 50px;
}
.category-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.category-content {
  position: relative;
  background: #fff;
}
.category-wapper {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.category-row {
  position: relative;
  display: grid;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
  row-gap: 3rem;
  padding: 1.5rem;

  clip-path: inset(0 0 0 0);
}
@media screen and (max-width: 768px) {
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .category-row {
    grid-template-columns: 1fr 1fr;
  }
}
.category-card {
  width: 100%;
  max-width: 172px;
  height: 152px;
  background-color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  transition: background-color 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}
.category-card:hover {
  background-color: #f9fafb;
}
.category-card img {
  max-width: 60px;
  height: auto;
  margin-bottom: 10px;
}
.category-card h4 {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}
.category-card p {
  font-size: 0.875rem;
  color: #4d5761;
  margin: 0;
}
.right-category,
.left-category {
  background: #d6d6d6;
  transform: translate(0, -50%);
}
