.product-details {
  padding-top: 1rem;
}
.product-details-wapper {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.25rem;
}
.product-details-wapper div {
  margin-bottom: 1rem;
}
.product-details-wapper hr {
  background-color: #f3f4f6;
}
.product-details h2 {
  font-size: 1.125rem;
  background-color: #e8f4ff;
  padding: 0.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
  max-height: 2.75rem;
  border-radius: 0.25rem;
  color: #0d121c;
}

.detail-row {
  margin-bottom: 1rem;
}

.detail-row:last-child {
  border-bottom: none;
}

.label {
  color: #4d5761;
  font-weight: 400;
}

.value {
  color: #0d121c;
}

.return-policy {
  margin-top: 1rem;
  font-size: 0.6875rem;
  color: #4d5761;
  display: flex;
  justify-content: space-between;
}
.product-decribe div {
  display: flex;
  display: flex;
  flex-direction: column;
}
.product-decribe h3,
p,
li {
  font-size: 0.875rem;
  font-weight: 400;
  color: #4d5761;
  margin: 0;
}
.product-decribe li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
