.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 8px;
  flex: 1;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner--primary {
  min-height: 600px;
}
.banner--secondary {
  min-height: 445px;
}
.banner__product-row {
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  font-size: x-large;
}
.banner__product-card {
  background-color: #f9fafb;
  height: 118px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 102px auto;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.banner__product-card img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.banner__product-card h3 {
  font-size: 16px;
  color: #0d121c;
  margin: 5px 0;
}
.banner__product-card p {
  font-size: 0.875rem;
  color: #666;
  margin: 0;
}
.category {
  margin-top: 100px;
  margin-bottom: 50px;
}
.category-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.category-content {
  position: relative;
  background: #fff;
}
.category-wapper {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.category-row {
  position: relative;
  display: grid;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
  row-gap: 3rem;
  padding: 1.5rem;

  clip-path: inset(0 0 0 0);
}
@media screen and (max-width: 768px) {
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .category-row {
    grid-template-columns: 1fr 1fr;
  }
}
.category-card {
  width: 100%;
  max-width: 172px;
  height: 152px;
  background-color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  transition: background-color 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}
.category-card:hover {
  background-color: #f9fafb;
}
.category-card img {
  max-width: 60px;
  height: auto;
  margin-bottom: 10px;
}
.category-card h4 {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}
.category-card p {
  font-size: 0.875rem;
  color: #4d5761;
  margin: 0;
}
.right-category,
.left-category {
  background: #d6d6d6;
  transform: translate(0, -50%);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}


.category-card h4 {
  margin: 10px 0;
}

.flash-sale,
.suggestion {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background-color: #eaeaea;
}
.panigation-arrow {
  z-index: 99;
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #000000;
}
.panigation-arrow--left {
  left: 0;
  transform: translate(-50%, -50%);
}
.panigation-arrow--right {
  right: 0;
  transform: translate(50%, -50%);
}
.promotion {
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.promotion-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.promotion-header__title {
  gap: 10px;
}
.promotion-header__title .timer {
  font-size: 0.875rem;
  color: #ff4500;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
.promotion-header__title .timer span {
  font-size: 14px;
  color: #fff;
  background-color: #ff4500;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
.promotion-content {
  position: relative;
}
.promotion-wapper {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.promotion-row {
  width: fit-content;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 387px;
  position: relative;
  box-sizing: border-box;
  gap: 0.75rem;
  clip-path: inset(0 0 0 0);
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .promotion-row {
    grid-template-columns: 1fr 1fr;
  }
}

.sale-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff4500;
}

.view-all {
  float: right;
  font-size: 14px;
  color: #1c87c9;
  text-decoration: none;
}
