.promotion {
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.promotion-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion-header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.promotion-header__title .timer {
  font-size: 0.875rem;
  color: #ff4500;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
.promotion-header__title .timer span {
  font-size: 14px;
  color: #fff;
  background-color: #ff4500;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
.promotion-content {
  position: relative;
}
.promotion-wapper {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.promotion-row {
  width: fit-content;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 387px;
  position: relative;
  box-sizing: border-box;
  gap: 0.75rem;
  clip-path: inset(0 0 0 0);
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .promotion-row {
    grid-template-columns: 1fr 1fr;
  }
}
.promotion-arrow {
  z-index: 99;
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.promotion-arrow--left {
  left: 0;
  transform: translate(-50%, -50%);
}
.promotion-arrow--right {
  right: 0;
  transform: translate(50%, -50%);
}
.sale-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff4500;
}

.view-all {
  float: right;
  font-size: 14px;
  color: #1c87c9;
  text-decoration: none;
}
