.shop {
  padding-top: 2rem;
}
.shop-wapper {
  background: #fff;
  border-radius: 0.25rem;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.shop-info {
  display: flex;
  align-items: center;
}

.shop-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.shop-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-details h2 {
  font-size: 1rem;
  color: #0d121c;
}

.shop-details p {
  font-size: 12px;
  color: #888;
}

.shop-button {
  margin-top: 10px;
  padding: 6px 30.5px;
  background-color: #ffffff;
  border: 1px solid #f3f4f6;
  color: #4d5761;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.875rem;
}

.promo-banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: fit-content;
}
